.App {
  text-align: center;
}

.title{
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 80px;
  font-family: Georgia;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.bio-info{
  display: inline-block;
  width: 40%;
  font-size: 25px;
  background: black;
  border: 1px solid white;
  padding: 40px;
  border-radius: 25px;
  margin-bottom: 50px;
  font-family: Georgia;
  color: white;
  list-style: none;
}

li{
  margin-bottom: 10px;
}

.work-list{
  display: inline-block;
  width: 80%;
  font-size: 20px;
  background: black;
  border: 1px solid white;
  padding: 40px;
  border-radius: 25px;
  font-family: Georgia;
  color: white;
  margin-bottom: 50px;
}

.about-me{
  display: inline-block;
  width: 80%;
  font-size: 20px;
  background: black;
  border: 1px solid white;
  padding: 40px;
  border-radius: 25px;
  font-family: Georgia;
  color: white;
  margin-bottom: 50px;
}